<%- include("./partials/header"); %>

<div class="site-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 ml-auto order-lg-2 mb-5" data-aos="fade-up" data-aos-delay="200">
          <img src="images/footer.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-6 order-lg-1" data-aos="fade-up" data-aos-delay="100">
          <div class="site-section-heading text-left mb-5 w-border">
            <h2>What is Flamingo Express?</h2>
          </div>
          <p class="lead">
            Flamingo Express is the cryptocurrency & forex trading firm, concentrated in producing favourable 
            financing solutions.
          </p>
          <p>
            The strenuous exercise in this domain has admitted the company to form an 
            adequate team of experts to get a great solid experience in this extravaganza extent. 
            Market speculations are equipped to bring in the value numerous times surpassing the profitability 
            of banking securities and other opportunities to acquire acquisition. We greatly believe in the 
            possibilities of foreign & cryptocurrency exchange trading since it is the largest syndicate in the 
            business and consequently it has the highest liquidity and volatility by volume. 
            With proven strategies and advance audit technology, our experts can able to draw the assured 
            resolutions on the grounds of variations in the field. Flamingo Express is the best way to make your 
            business portfolio mature faster. Our investment platform is offering profitable financing 
            opportunities to everyone who endeavours.
            
          </p>
        </div>
  
      </div>
    </div>
  </div>

  <div>
    <ul>
        <li><p>Click on <a href="/tips"> <button class="btn btn-success">Tip & informations</button>   </a> Button &nbsp; &ldquo; for more information on how to invest, withdraw, Our upgrades, frequently asked questions, and all other information concerning Flamingo Express &rdquo; </p></li>

       </ul>
  </div>

  <div class="site-section">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class=" ">
          <h2 style="text-align: center; font-weight: bolder; color: snow;">Terms & Condition</h2>
          <p>
            <h3>Introduction</h3>

            The following Terms and Conditions control your membership on Flamingo Express. You agree that you have read and understand this Agreement (“Agreement”) and that your membership on  (the “Program”) shall be subject to the following Terms and Conditions between you (the “Member”) and Flamingo Express platform.
            
            These Terms and Conditions may be modified at any time by Flamingo Express Administrators without notice. Please review them from time to time since your ongoing use is subject to the terms and conditions as modified. Your continued participation in nip after such modification shall be deemed to be your acceptance of any such modification. The Terms and Conditions shall apply in full force and by subscribing to any of the packages or services offered by Flamingo Express, you expressly accept all the Terms and Conditions contained herein in full. If you have any objection, or you do not agree to these Terms and Conditions, please do not register.
            
            <h3>No-Refund Policy:</h3>
            Flamingo Express offers non-tangible virtual digital services in form of e-pins/coupon/registration fee and hence, shall not issue a refund to any Subscriber after a purchase of any membership packages has been made. Please note that by purchasing any of our subscription packages, you agree to our no refund policy.
            
           <h3> Disclaimer</h3>
            Flamingo Express depends mostly on Forex and Crypto.
            
            <h3>IMPORTANT: Earnings and Legal Disclaimers</h3>
            Income representations made by the Flamingo Express programs are aspirational statements only of your earnings potential. The success, testimonials and other examples used are exceptional, non-typical results and are not intended to be and are not a guarantee that you or others will achieve the same results. Individual results will always vary and yours will depend entirely on your individual capacity, work ethic, business skills and experience, level of motivation, diligence in applying the Flamingo Express Programs, the economy, the normal and unforeseen risks of doing business, and other factors.
            
            As a member, Non compliance with this requirement may lead to the membership/account of the subscriber to be suspended. However, Kindly note that as a Subscriber, you might not get paid at the end of the whole session. We will not be held liable for non-payments of specific Subscribers as we can only keep sharing available revenue to Subscribers across, and when the available revenue from registrations, sponsorships, additional funds, advert placements, and google AdSense are exhausted, we can only wait till more revenue comes in before payments can be apportioned to other Subscribers. in such unlikely circumstance, payments will be restructured and carried over to the following month as long as the system keeps running. We are not responsible for your actions. You are solely responsible for your own moves and decisions and the evaluation and use of our products and services should be based on your own due diligence. You agree that the Flamingo Express Programs are not liable to you in any way for your results in using our products and services. See our Terms & Conditions for our full disclaimer of liability and other restrictions. As with any business, your results may vary, and will be based on your individual capacity, business experience, expertise, and level of desire. There are no guarantees concerning the level of success you may experience. The testimonials and examples used are exceptional results, which do not apply to the average purchaser, and are not intended to represent or guarantee that anyone will achieve the same or similar results. Each individual’s success depends on his or her background, dedication, desire and motivation.
            
            There is no assurance that examples of past results can be duplicated in the future. We cannot guarantee your future results and/or success. There are some unknown risks in business and on the internet that we cannot foresee which could reduce results you experience. We are not responsible for your actions.
            
            The use of our information, products and services should be based on your own due diligence and you agree that Flamingo Express and the advertisers / sponsors of this website are not liable for any success or failure of your business that is directly or indirectly related to the purchase and use of our information, products and services reviewed or advertised on this website. All the information on this website – is published in good faith and for general information and good use purpose only. We do not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (Flamingo Express.com), is strictly at your own risk. We will not be liable for any losses and/or damages in connection with the use of our website. From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone ‘bad’. Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their “Terms of Service” before engaging in any business or uploading any information.
            
            <h3>Age Restrictions.</h3>
            Membership to Flamingo Express and its services are not open to or meant to be used or/and accessed by persons under the age of 18 years. Please DO NOT subscribe to any of our services or packages if you are below the above stated age.
            
            <h3>Consent</h3>
            By using our website, each subscriber expressly agrees that the use of our services is at subscriber's sole risk. By registering, you hereby consent to our disclaimer and agree to our terms.
            
           <h3>Update</h3> 
            <p> Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
            <p>or</p>
            <ul>
                <li><p>Click on <a href="/tips"> <button class="btn btn-success">Tip & informations</button>   </a> Button &nbsp; &ldquo; for more information on how to invest, withdraw, Our upgrades, frequently asked questions, and all other information concerning Flamingo Express &rdquo; </p></li>
    
            </ul>
          
        </div>
      </div>
      
    </div>
  </div>

  
   


<%- include("./partials/footer"); %>
