<%- include("./partials/header"); %>

<div class="site-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 ml-auto order-lg-2 mb-5" data-aos="fade-up" data-aos-delay="200">
          <img src="images/images (1).jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-6 order-lg-1" data-aos="fade-up" data-aos-delay="100">
          <div class="site-section-heading text-left mb-5 w-border">
            <h2>What is Flamingo Express?</h2>
          </div>
          <p class="lead">
            Flamingo Express is the cryptocurrency & forex trading firm, concentrated in producing favourable 
            financing solutions.
          </p>
          <p>
            The strenuous exercise in this domain has admitted the company to form an 
            adequate team of experts to get a great solid experience in this extravaganza extent. 
            Market speculations are equipped to bring in the value numerous times surpassing the profitability 
            of banking securities and other opportunities to acquire acquisition. We greatly believe in the 
            possibilities of foreign & cryptocurrency exchange trading since it is the largest syndicate in the 
            business and consequently it has the highest liquidity and volatility by volume. 
            With proven strategies and advance audit technology, our experts can able to draw the assured 
            resolutions on the grounds of variations in the field. Flamingo Express is the best way to make your 
            business portfolio mature faster. Our investment platform is offering profitable financing 
            opportunities to everyone who endeavours.
            
          </p>
        </div>
  
      </div>
    </div>
  </div>

  <div>
    <ul>
        <li><p>Click on <a href="/tips"> <button class="btn btn-success">Tip & informations</button>   </a> Button &nbsp; &ldquo; for more information on how to invest, withdraw, Our upgrades, frequently asked questions, and all other information concerning Flamingo Express &rdquo; </p></li>

       </ul>
  </div>

  <div class="site-section">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class=" ">
          <h2 style="text-align: center; font-weight: bolder; color: snow;">Terms & Condition</h2>
          <p>
            Introduction

            The following Terms and Conditions control your membership on Flamingo Express. You agree that you have read and understand this Agreement (“Agreement”) and that your membership on  (the “Program”) shall be subject to the following Terms and Conditions between you (the “Member”) and Flamingo Express platform.
            
            These Terms and Conditions may be modified at any time by Flamingo Express Administrators without notice. Please review them from time to time since your ongoing use is subject to the terms and conditions as modified. Your continued participation in nip after such modification shall be deemed to be your acceptance of any such modification. The Terms and Conditions shall apply in full force and by subscribing to any of the packages or services offered by Flamingo Express, you expressly accept all the Terms and Conditions contained herein in full. If you have any objection, or you do not agree to these Terms and Conditions, please do not register.
            
            No-Refund Policy:
            Flamingo Express offers non-tangible virtual digital services in form of e-pins/coupon/registration fee and hence, shall not issue a refund to any Subscriber after a purchase of any membership packages has been made. Please note that by purchasing any of our subscription packages, you agree to our no refund policy.
            
            Disclaimer
            Flamingo Express depends mostly on Forex and Crypto.
            
            IMPORTANT: Earnings and Legal Disclaimers
            Income representations made by the Flamingo Express programs are aspirational statements only of your earnings potential. The success, testimonials and other examples used are exceptional, non-typical results and are not intended to be and are not a guarantee that you or others will achieve the same results. Individual results will always vary and yours will depend entirely on your individual capacity, work ethic, business skills and experience, level of motivation, diligence in applying the Flamingo Express Programs, the economy, the normal and unforeseen risks of doing business, and other factors.
            
            As a member, Non compliance with this requirement may lead to the membership/account of the subscriber to be suspended. However, Kindly note that as a Subscriber, you might not get paid at the end of the whole session. We will not be held liable for non-payments of specific Subscribers as we can only keep sharing available revenue to Subscribers across, and when the available revenue from registrations, sponsorships, additional funds, advert placements, and google AdSense are exhausted, we can only wait till more revenue comes in before payments can be apportioned to other Subscribers. in such unlikely circumstance, payments will be restructured and carried over to the following month as long as the system keeps running. We are not responsible for your actions. You are solely responsible for your own moves and decisions and the evaluation and use of our products and services should be based on your own due diligence. You agree that the Flamingo Express Programs are not liable to you in any way for your results in using our products and services. See our Terms & Conditions for our full disclaimer of liability and other restrictions. As with any business, your results may vary, and will be based on your individual capacity, business experience, expertise, and level of desire. There are no guarantees concerning the level of success you may experience. The testimonials and examples used are exceptional results, which do not apply to the average purchaser, and are not intended to represent or guarantee that anyone will achieve the same or similar results. Each individual’s success depends on his or her background, dedication, desire and motivation.
            
            There is no assurance that examples of past results can be duplicated in the future. We cannot guarantee your future results and/or success. There are some unknown risks in business and on the internet that we cannot foresee which could reduce results you experience. We are not responsible for your actions.
            
            The use of our information, products and services should be based on your own due diligence and you agree that Flamingo Express and the advertisers / sponsors of this website are not liable for any success or failure of your business that is directly or indirectly related to the purchase and use of our information, products and services reviewed or advertised on this website. All the information on this website – is published in good faith and for general information and good use purpose only. We do not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (Flamingo Express.com), is strictly at your own risk. We will not be liable for any losses and/or damages in connection with the use of our website. From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone ‘bad’. Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their “Terms of Service” before engaging in any business or uploading any information.
            
            Age Restrictions.
            Membership to Flamingo Express and its services are not open to or meant to be used or/and accessed by persons under the age of 18 years. Please DO NOT subscribe to any of our services or packages if you are below the above stated age.
            
            <h3>Consent</h3>
            By using our website, each subscriber expressly agrees that the use of our services is at subscriber's sole risk. By registering, you hereby consent to our disclaimer and agree to our terms.
            
           <h3>Update</h3> 
            <p> Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
            <p>or</p>
            <ul>
                <li><p>Click on <a href="/tips"> <button class="btn btn-success">Tip & informations</button>   </a> Button &nbsp; &ldquo; for more information on how to invest, withdraw, Our upgrades, frequently asked questions, and all other information concerning Flamingo Express &rdquo; </p></li>
    
            </ul>
          
        </div>
      </div>
      
    </div>
  </div>

  <div>
      <h2>Privacy Policy</h2>
  </div>
  <div>
      <p>
        Your privacy is critically important to us here at primevault.com.ng
        
        Primevault has no physical office, and It is our policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to https://primevault.com.ng (hereinafter, “us”, “we”, "our" or “https://primevault.com.ng”).
        
        We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy (“Privacy Policy”) to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.
        
        This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms and conditions.
        
        Website Visitors
        Like most website operators, we collect non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Our purpose in collecting non-personally identifying information is to better understand how visitors use its website. From time to time, we may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
        
        We also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on blog posts. We only disclose logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.
        
        Gathering of Personally-Identifying Information Certain visitors to websites choose to interact with in ways that require us to gather personally-identifying information. The amount and type of information that we gather depends on the nature of the interaction. For example, we ask visitors who sign up and provide a username and email address.
        
        Security
        The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
        
        Advertisements
        Ads appearing on our website may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by primevault and does not cover the use of cookies by any advertisers.
        
        Links To External Sites
        Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party’s site. We strongly advise you to review the Privacy Policy and terms and conditions of every site you visit.
        
        We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.
        
        We use Google AdWords for remarketing. The remarketing services to advertise on third party websites (including Google) to previous visitors to our site. It could mean that we advertise to previous visitors who haven’t completed a task on our site, for example using the contact form to make an enquiry. This could be in the form of an advertisement on the Google search results page, or a site in the Google Display Network. Third-party vendors, including Google, use of cookies to serve ads based on someone’s past visits. Of course, any data collected will be used in accordance with our own privacy policy and Google’s privacy policy.
        
        You can set preferences for how Google advertises to you using the Google Ad Preferences page, and if you want to you can opt out of interest-based advertising entirely by cookie settings or permanently using a browser plugin.
        
        Protection of Certain Personally-Identifying Information
        We may disclosesl potentially personally-identifying and personally-identifying information only to those of our employees, contractors and affiliated organizations that (i) need to know that information in order to process it on our behalf or to provide services available at our website, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using our website, you consent to the transfer of such information to them. We will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, we will disclose potentially personally-identifying and personally-identifying information only in response to a subpoena, court order or other governmental request, or when we believe in good faith that disclosure is reasonably necessary to protect the property or rights of individuals, third parties or the public at large.
        
        If you are a registered user of https://primevault.com.ng and have supplied your email address, we may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with the platform and our products. We primarily use our blog to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. We take all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.
        
        Aggregated Statistics
        We may collect statistics about the behavior of visitors to our website. We may display this information publicly or provide it to others. However, we do not disclose your personally-identifying information.
        
        Affiliate Disclosure
        This site uses affiliate links and does earn a commission from certain links. This does not affect your purchases or the price you may pay.
        
        Cookies
        To enrich and perfect your online experience, we use “Cookies”, similar technologies and services provided by others to display personalized content, appropriate advertising and store your preferences on your computer.
        
        A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. We use cookies to help us identify and track visitors, their usage of https://primevault.com.ng, and their website access preferences. Our visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using the websites, with the drawback that certain features of our websites may not function properly without the aid of cookies.
        
        By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to our use of cookies.
        
        E-commerce
        Those who engage in transactions with us – by purchasing our services or products, are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, we collect such information only when it is necessary or appropriate to fulfill the purpose of the visitor’s interaction with us. We do not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.
        
        Business Transfers
        If in the occasion that this website or all of its assets, were acquired, or in the unlikely event that it goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of our platform may continue to use your personal information as set forth in this policy.
        
        Privacy Policy Changes
        Although most changes are likely to be minor, we may change this Privacy Policy from time to time, and in our sole discretion. We encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.
        
        Contact Information
        This Terms and conditions page was created by primevault.com. If you have any queries regarding any of our terms, please contact us at "hello@primevault.com.ng"
        
        Connect with us
        Follow Us on instagram Handle Follow Us on Facebook page Follow Us on Twitter Handle Join Our Youtube Channel Join Our Telegram Channel</p>
  </div>

  <div>
      <h1>FAQ</h1>
  </div>
  <!-- FAQ HERE OOOOO -->

  <!-- Faq Section Begin -->
  <div class="faq-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="faq-accordin">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-heading active">
                                <a class="active" data-toggle="collapse" data-target="#collapseOne">
                                    Is There Anything I Should Bring?
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseTwo">
                                    Where Can I Find Market Research Reports?
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseThree">
                                    Where Can I Find The Wall Street Journal?
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Section End -->
   


<%- include("./partials/footer"); %>
