<%- include("./partials/investhead"); %>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/myinvestment">Home</a></li>
          <li class="breadcrumb-item active">Deposit Plan</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <div  class="container-fluid p-5">
          <div  class="row m-auto text-center">
              
                    
     
            <form action="/investnow1" method="POST">

            <div id="plans"  class="col-md-4  princing-item blue mt-5">
              <div class="pricing-divider ">
                  <h3 class="text-blue">Basic Plan</h3>
                <h4 class="my-0 display-4 text-blue font-weight-normal mb-3">7<span class="h5">%</span></h4>
                 <svg class="pricing-divider-img" enable-background="new 0 0 300 100" height="100px" id="Layer_1" preserveAspectRatio="none" version="1.1" viewBox="0 0 300 100" width="300px" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
              <path class="deco-layer deco-layer--1" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
      c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" fill="#FFFFFF" opacity="0.6"></path>
              <path class="deco-layer deco-layer--2" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
      c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" fill="#FFFFFF" opacity="0.6"></path>
              <path class="deco-layer deco-layer--3" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
      H42.401L43.415,98.342z" fill="#FFFFFF" opacity="0.7"></path>
              <path class="deco-layer deco-layer--4" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
      c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#FFFFFF"></path>
            </svg>
              </div>
              <div class="card-body bg-white mt-0 shadow text-blue">
                <ul class="list-unstyled mb-5 position-relative">
                
                   <li><b>Minimum</b> $100</li>
                   <li><b>Maximum</b> $9,999</li>
                  <li><b>Referral Bonus</b>3.66%</li>
                 
                  
                </ul>
                
                
                  <input class="btn btn-primary" type="submit" name="" id="" value="Buy Plan">
  
              </div>
            </div>
            </form>
           
    
            
            <form action="/investnow1" method="POST">

            <div id="plans" class="col-md-4 princing-item blue mt-5">
              <div class="pricing-divider ">
                  <h3 class="text-blue">Gold Plan</h3>
                <h4 class="my-0 display-4 text-blue font-weight-normal mb-3">11<span class="h5">%</span></h4>
                 <svg class="pricing-divider-img" enable-background="new 0 0 300 100" height="100px" id="Layer_1" preserveAspectRatio="none" version="1.1" viewBox="0 0 300 100" width="300px" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
              <path class="deco-layer deco-layer--1" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
      c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" fill="#FFFFFF" opacity="0.6"></path>
              <path class="deco-layer deco-layer--2" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
      c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" fill="#FFFFFF" opacity="0.6"></path>
              <path class="deco-layer deco-layer--3" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
      H42.401L43.415,98.342z" fill="#FFFFFF" opacity="0.7"></path>
              <path class="deco-layer deco-layer--4" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
      c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#FFFFFF"></path>
            </svg>
              </div>
              <div class="card-body bg-white mt-0 shadow text-blue">
                <ul class="list-unstyled mb-5 position-relative">
                
                   <li><b>Minimum</b> $10,000</li>
                  <li><b>Maximum</b> $49,999</li>
                  <li><b>Referral Bonus</b> 6.40%</li>
                 
                  
                </ul>
                
                              
                <button>
                  <a class="btn btn-lg btn-block  btn-custom " href="#">Invest Now</a>
  
                 </button>                               
              </div>
            </div>
            </form>
      
            
       <div  id="plans" class="col-md-4 princing-item blue mt-5">
              <div  class="pricing-divider ">
                  <h3 class="text-blue">Master Plan</h3>
                <h4 class="my-0 display-4 text-blue font-weight-normal mb-3">14<span class="h5">%</span></h4>
                 <svg class="pricing-divider-img" enable-background="new 0 0 300 100" height="100px" id="Layer_1" preserveAspectRatio="none" version="1.1" viewBox="0 0 300 100" width="300px" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
      <path class="deco-layer deco-layer--1" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
      c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" fill="#FFFFFF" opacity="0.6"></path>
      <path class="deco-layer deco-layer--2" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
      c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" fill="#FFFFFF" opacity="0.6"></path>
              <path class="deco-layer deco-layer--3" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
      H42.401L43.415,98.342z" fill="#FFFFFF" opacity="0.7"></path>
              <path class="deco-layer deco-layer--4" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
      c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#FFFFFF"></path>
            </svg>
              </div>
              <div class="card-body bg-white mt-0 shadow text-blue">
                <ul class="list-unstyled mb-5 position-relative">
                  <li><b>Minimum</b> $50,000</li>
                  <li><b>Maximum</b> $99,999</li>
                  <li><b>Referral Bonus</b>8.33%</li>
                  
                  
                </ul>
                
             
                              
                <button>
                  <a class="btn btn-lg btn-block  btn-custom " href="#">Invest Now</a>
  
                 </button>                              
              </div>
            </div>
           
                   
             
            
            <div id="plans" class="col-md-4 princing-item blue mt-5">
              <div class="pricing-divider ">
                  <h3 class="text-blue">Premium Plan</h3>
                <h4 class="my-0 display-4 text-blue font-weight-normal mb-3">17<span class="h5">%</span></h4>
                 <svg class="pricing-divider-img" enable-background="new 0 0 300 100" height="100px" id="Layer_1" preserveAspectRatio="none" version="1.1" viewBox="0 0 300 100" width="300px" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
              <path class="deco-layer deco-layer--1" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
      c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" fill="#FFFFFF" opacity="0.6"></path>
              <path class="deco-layer deco-layer--2" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
      c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" fill="#FFFFFF" opacity="0.6"></path>
              <path class="deco-layer deco-layer--3" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
      H42.401L43.415,98.342z" fill="#FFFFFF" opacity="0.7"></path>
              <path class="deco-layer deco-layer--4" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
      c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#FFFFFF"></path>
            </svg>
              </div>
              <div class="card-body bg-white mt-0 shadow text-blue">
                <ul class="list-unstyled mb-5 position-relative">
                
                  <li><b>Minimum</b> $100,000</li>
                  <li><b>Minimum</b> $Above</li>
                  <li><b>Referral Bonus</b> 10.00%</li>
                  
                  
                </ul>
               <button>
                <a class="btn btn-lg btn-block  btn-custom " href="#">Invest Now</a>

               </button>
                                
              </div>
            </div>
           
           
           
           
            
          </div>
        </div>
       
            

          </div>
        </div><!-- End Left side columns -->
        <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/6324a2f954f06e12d8952529/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->

        <%- include("./partials/investfoot"); %>


