<%- include("./partials/investhead"); %>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Deposit History</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

   
<div>
  <div class="container-fluid">
    <div class="form-head d-flex align-items-center flex-wrap mb-sm-5 mb-3">
      <h2 class="font-w600 mb-0 text-black">Deposit History</h2>
      
    <!-- </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="table-responsive table-hover fs-14">
          <table class="table display mb-4 dataTablesCard short-one card-table text-black" id="example5">
            <thead>
          <tr>                                       
<th>Date</th> 
                   <th>Amount</th> 
                   <th>Payment Method</th>
                    <th>Withdrawal Option</th>
                   <th>Status</th> 
                                        </tr>
                                    </thead>
                     <tbody>
                    <tr>
                    <td>
                       September 09 2022                          </td>
                       <td>
                       1,000                          </td>
                      <td>
                   BITCOIN                          </td>
                         <td>
                         </td>
                      <td>
                <button disabled="" class="status badge badge-warning badge-pill badge-sm">Pending</button> 
                      </td>
                    </tr> 
                                    </tbody>    
          </table>
        </div>	
      </div>
    </div> -->
  </div>
</div>

<div>
  <h1>No transaction recorded</h1>
</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/63251bb737898912e969a864/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
        <%- include("./partials/investfoot"); %>
