<%- include("./partials/header"); %>



<div> <p style="color:green; text-decoration: underline; text-align: center; font-size: 100px;">Buy plans </p></div>
<div class="investplans">
<form action="/investnow1" method="POST">


  <div class="" data-aos="fade-up" data-aos-delay="100">
    <div  class="p-4 bg-white">
      <span class="d-block text-secondary small text-uppercase">Jasper</span>
      <h2 style="color: blue;" class=""> 5k <p></p> 
        <p style="font-size: 30px;">55 % ROI</p>
         <P>30 days</P> </span>
         <input class="btn btn-success" type="submit" name="" id="" value="Buy package">

        </h2>
      
    </div>
  </div>

</form>

<form action="/investnow2" method="POST">

  <div class="" data-aos="fade-up" data-aos-delay="100">
    <div  class="p-4 bg-white">
      <span class="d-block text-secondary small text-uppercase">Sapphire</span>
      <h2 style="color: blue;" class="">10k <p></p> 
        <p style="font-size: 30px;">55 % ROI</p>
         <P></P>30 days </span>
         
        </h2>
        <input class="btn btn-success" type="submit" name="" id="" value="Buy package">


      
    </div>
  </div>

  </form>

  <form action="/investnow3" method="POST">

  <div class="" data-aos="fade-up" data-aos-delay="100">
    <div  class="p-4 bg-white">
      <span class="d-block text-secondary small text-uppercase">Chalcedony</span>
      <h2 style="color: blue;" class="">20k<p></p> 
        <p style="font-size: 30px;">55 % ROI</p>
         <P>30 days</P> </span>
         
         <input class="btn btn-success" type="submit" name="" id="" value="Buy package">
        </h2>
      
    </div>
  </div>
</form>




  <form action="/investnow4" method="POST">

  <div class="" data-aos="fade-up" data-aos-delay="100">
    <div  class="p-4 bg-dark">
      <span class="d-block text-secondary small text-uppercase">Emerald</span>
      <h2 style="color: blue;" class=""> <p>50k</p> 
        <p style="font-size: 30px;">55 % ROI</p>
         <P>30 days</P> </span>
         
         <input class="btn btn-success" type="submit" name="" id="" value="Buy package">
        </h2>
      
    </div>
  </div>
</form>


  <form action="/investnow5" method="POST">

  <div class="" data-aos="fade-up" data-aos-delay="100">
    <div  class="p-4 bg-dark">
      <span class="d-block text-secondary small text-uppercase">Sardonxy</span>
      <h2 style="color: blue;" class="">70k<p></p> 
        <p style="font-size: 30px;">55 % ROI</p>
         <P>30 days</P> </span>
         <input class="btn btn-success" type="submit" name="" id="" value="Buy package">
        </h2>
      
    </div>
  </div>

</form>

  <form action="/investnow6" method="POST">

  <div class="" data-aos="fade-up" data-aos-delay="100">
    <div  class="p-4 bg-dark">
      <span class="d-block text-secondary small text-uppercase">Sarduis</span>
      <h2 style="color: blue;" class=""> <p>100k</p> 
        <p style="font-size: 30px;">55 % ROI</p>
         <P>30 days</P> </span>
         
         <input class="btn btn-success" type="submit" name="" id="" value="Buy package">
        </h2>
      
    </div>
  </div>
</form>


</div>









<%- include("./partials/footer"); %>
