<%- include("./partials/header"); %>



      <h3 style="color: cornsilk;">Welcome</h3>
        <h3 style="color: cornsilk;">Welcome </h3>


    </div>

  <div>
    <div>
      <p style="color: white;"> Current Amount: ₦  </p>
    </div>
  </div>

<div> <p style="color: green; text-decoration: underline;"> Buy plans </p></div>

<form action="/investnow" method="POST">

<div class="row">

  <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
    <div  class="p-4 bg-white">
      <span class="d-block text-secondary small text-uppercase">Jasper</span>
      <h2 style="color: blue;" class=""> 5k <p></p> 
        <p style="font-size: 30px;">55 % ROI</p>
         <P>30 days</P> </span>
         <input type="hidden" name="Jasper" value="10000">
         <input type="hidden" name="10,000">
         <input type="hidden" name="30 days">
         <input type="submit" id="" value="Buy package">
        </h2>
      
    </div>
  </div>


  <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
    <div  class="p-4 bg-white">
      <span class="d-block text-secondary small text-uppercase">Sapphire</span>
      <h2 style="color: blue;" class="">10k <p></p> 
        <p style="font-size: 30px;">55 % ROI</p>
         <P></P>30 days </span>
         <input type="hidden">
         <input type="hidden">
         <input type="hidden">
         <input type="submit" name="" id="" value="Buy package">
        </h2>
      
    </div>
  </div>

  <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
    <div  class="p-4 bg-white">
      <span class="d-block text-secondary small text-uppercase">Chalcedony</span>
      <h2 style="color: blue;" class="">20k<p></p> 
        <p style="font-size: 30px;">55 % ROI</p>
         <P>30 days</P> </span>
         <input type="hidden">
         <input type="hidden">
         <input type="hidden">
         <input type="submit" name="" id="" value="Buy package">
        </h2>
      
    </div>
  </div>

  <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
    <div  class="p-4 bg-dark">
      <span class="d-block text-secondary small text-uppercase">Emerald</span>
      <h2 style="color: blue;" class=""> <p>50k</p> 
        <p style="font-size: 30px;">55 % ROI</p>
         <P>30days</P> </span>
         <input type="hidden">
         <input type="hidden">
         <input type="hidden">
         <input type="submit" name="" id="" value="Buy package">
        </h2>
      
    </div>
  </div>

  <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
    <div  class="p-4 bg-dark">
      <span class="d-block text-secondary small text-uppercase">Sardonxy</span>
      <h2 style="color: blue;" class="">70k<p></p> 
        <p style="font-size: 30px;">55 % ROI</p>
         <P>30days</P> </span>
         <input type="hidden">
         <input type="hidden">
         <input type="hidden">
         <input type="submit" name="" id="" value="Buy package">
        </h2>
      
    </div>
  </div>

  <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
    <div  class="p-4 bg-dark">
      <span class="d-block text-secondary small text-uppercase">Sarduis</span>
      <h2 style="color: blue;" class=""> <p>100k</p> 
        <p style="font-size: 30px;">55 % ROI</p>
         <P>30days</P> </span>
         <input type="hidden">
         <input type="hidden">
         <input type="hidden">
         <input type="submit" name="" id="" value="Buy package">
        </h2>
      
    </div>
  </div>

</div>

</form>








<%- include("./partials/footer"); %>
