<%- include("./partials/header"); %>


<div class="site-section">
    <div class="container">
      <div class="row">
        <div style="margin-bottom: 10px;" class="site-section-heading text-center mb-5 w-border mx-auto">
          <h2 class="mb-5">Welcome</h2>
          <p>
            Express Flamingo traverses the amazon of crypto & forex trading, all you need is a vision and desire for satisfaction.
            Welcome to Express Flamingo, the autonomous trust management regularity that equips you with a hassle-free effective one-stop explication to improve your economic securities.
          </p>
        </div>
      </div>
     
      </div>
    </div>
  </div>

  <div class="site-section">

    <div class="container">

      <div class="row">
        <div class="site-section-heading mb-5 w-border text-center mx-auto" data-aos="fade-up">
          <h2 class="mb-5">What is Flamingo Express</h2>
          <p>
            Flamingo Express is the cryptocurrency & forex trading firm, concentrated in 
            producing favourable financing solutions. The strenuous exercise in this domain 
            has admitted the company to form an adequate team of experts to get a great solid 
            experience in this extravaganza extent. Market speculations are equipped to bring 
            in the value numerous times surpassing the profitability of banking securities and 
            other opportunities to acquire acquisition. We greatly believe in the possibilities 
            of foreign & cryptocurrency exchange trading since it is the largest syndicate in the 
            business and consequently it has the highest liquidity and volatility by volume. 
            With proven strategies and advance audit technology, our experts can able to draw 
            the assured resolutions on the grounds of variations in the field. 
            Flamingo Express is the best way to make your business portfolio mature faster. 
            Our investment platform is offering profitable financing opportunities to everyone
             who endeavours.
          </p>
        </div>
      </div>

      
  </div>

  <div class="row">
    <div class="site-section-heading mb-5 w-border text-center mx-auto" data-aos="fade-up">
        <h2 class="mb-5">What is Flamingo Express</h2>
    </div>
    <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">

      <a href="#" class="unit-9">
        <div class="image" style="background-image: url('images/img_1.jpg');"></div>
        <div class="unit-9-content">
          <h2>1st invest</h2>
          <span>#20,000 yields 50% ROI</span>
          <span>Period of 30 days</span>
        </div>
      </a>
    </div>

    <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
      <a href="#" class="unit-9">
        <div class="image" style="background-image: url('images/img_2.jpg');"></div>
        <div class="unit-9-content">
          <h2>1st invest</h2>
          <span>#20,000 yields 50% ROI</span>
          <span>Period of 30 days</span>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
      <a href="#" class="unit-9">
        <div class="image" style="background-image: url('images/img_3.jpg');"></div>
        <div class="unit-9-content">
          <h2>Classic Hits</h2>
          <span>Friday 1:00pm &mdash; 2:30pm</span>
          <span>with James Tenda</span>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
      <a href="#" class="unit-9">
        <div class="image" style="background-image: url('images/img_4.jpg');"></div>
        <div class="unit-9-content">
          <h2>Classic Songs</h2>
          <span>Friday 1:00pm &mdash; 2:30pm</span>
          <span>with Troy Peters</span>
        </div>
      </a>
    </div>
  </div>
</div>
      
      

<%- include("./partials/footer"); %>
