<%- include("./partials/header"); %>

<div class="container">
    <header>
        <h1 class="investplans">VENDORS</h1>
    </header>
    <P style="text-align: center;">
        Here you can buy your preferred plan from our vendors
    </P>

    <div>
        <h2 style="text-align: center; color: silver;">WOW!!! YOU ARE JUST A FEW STEP FROM GAINING YOUR FINANCIAL FREEDOM. &ldquo; Please Make sure you follow 
            the step listed below &rdquo;
        </h2>
    </div>

    <div>
        <h2 style="text-align: center; color: snow; text-decoration: underline; padding-top: 100px;"> STEPS TO BUY AND INVEST YOUR PREFERRED PLAN </h2>
    </div>
    <ul>
        <li><p>Make sure you have successfully created an account, Log in with your Username and Password  </p></li>
        <li><p>Check our Investment Plans and ROI &ldquo; Ruby => ₦20,000.00 , Sapphire => ₦50,000.00 , Emerald => ₦100,000.00  &rdquo; </p></li>
        <li><p>Contact any of our vendors listed below</p></li>
        <li><p>Send Your Payment & your Email address &ldquo; Email to be cedited  &rdquo; </p></li>
        <li><p>Once payment is confirmed, Your account will be credited</p></li>

        <li><p>Click on <a href="#"> MY INVESTMENT </a> Tab,</p></li>
        <li><p>Click on your preferred investment plan &ldquo; Ruby => ₦20,000.00 , Sapphire => ₦50,000.00 , Emerald => ₦100,000.00  &rdquo; </p></li>

        <li><p>Watch your <strong>MONEY GROW!!!</strong> .</p></li>
        <ul>
            <li><p>Click on <a href="/tips"> <button class="btn btn-success">Tip & informations</button>   </a> Button &nbsp; &ldquo; for more information on how to invest, withdraw, Our upgrades, frequently asked questions, and all other information concerning Flamingo Express &rdquo; </p></li>

           </ul>

    </ul>

</div>


<!-- vendors -->
<div class="site-section bg-dark block-13">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
          <h2 class="mb-5">LIST OF OUR VENDORS</h2>
        </div>
      </div>
      <div class="nonloop-block-13 owl-carousel">
        
        <div class="text-center p-3 p-md-5 bg-white">
          
          <div class="text-black">
            <h3 class="font-weight-light h5">Micheal Peter</h3>
            <p class="font-italic"><p class="mb-0 font-weight-bold text-black">Phone</p>
            <p class="mb-4"><a href="#">+234805512343</a></p></p>
          </div>
        </div>

        <div class="text-center p-3 p-md-5 bg-white">
          
            <div class="text-black">
              <h3 class="font-weight-light h5">Isreal Osiogo</h3>
              <p class="font-italic"><p class="mb-0 font-weight-bold text-black">Phone</p>
              <p class="mb-4"><a href="#">+234805512343</a></p></p>
            </div>
          </div>

          <div class="text-center p-3 p-md-5 bg-white">
          
            <div class="text-black">
              <h3 class="font-weight-light h5">Alex Paul</h3>
              <p class="font-italic"><p class="mb-0 font-weight-bold text-black">Phone</p>
              <p class="mb-4"><a href="#">+234805512343</a></p></p>
            </div>
          </div>

        
          <div class="text-center p-3 p-md-5 bg-white">
          
            <div class="text-black">
              <h3 class="font-weight-light h5">Isreal Osiogo</h3>
              <p class="font-italic"><p class="mb-0 font-weight-bold text-black">Phone</p>
              <p class="mb-4"><a href="#">+234805512343</a></p></p>
            </div>
          </div>
      </div>
    </div>
  </div> 



<%- include("./partials/footer"); %>
