<%- include("./partials/investhead"); %>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Withdrawal History</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

   
<div>
  <div class="container-fluid">
    <div class="form-head d-flex align-items-center flex-wrap mb-sm-5 mb-3">
      <h2 class="font-w600 mb-0 text-black">Withdrawal History</h2>
      
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="table-responsive table-hover fs-14">
          <table class="table display mb-4 dataTablesCard short-one card-table text-black" id="example5">
            <thead>
          <tr>                                       
<th>Date</th> 
                   <th>Amount</th> 
                   <th>Payment Method</th>
                    <th>Withdrawal Option</th>
                   <th>Status</th> 
                                        </tr>
                                    </thead>
                     <tbody>
                    <tr>
                    <td>
                       September 09 2022                          </td>
                       <td>
                       1,000                          </td>
                      <td>
                                            </td>
                         <td>
                          BITCOIN
                         </td>
                      <td>
                <button disabled="" class="status badge badge-warning badge-pill badge-sm">Pending</button> 
                      </td>
                    </tr> 
                                    </tbody>    
          </table>
        </div>	
      </div>
    </div>
  </div>
</div>

<div>
  <h1>No transaction recorded</h1>
</div>

        <%- include("./partials/investfoot"); %>
